@mixin icon($url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@mixin hoverTransition {
  transition: transform 0.4s;
  &:hover {
    outline: none;
    transform: scale(1.1);
  }
}

@mixin focusTransition {
  &:focus {
    outline: none;
    box-shadow: 0, 0, 100px, rgba($dark-yellow, 0.5);
    transform: scale(1.1);
  }
}

@mixin clickTransition {
  &:active {
    transition: transform 0.2s background-color 0.2s;
    transform: scale(1);
  }
}
