@mixin panelBox($color: $cell-red) {
  & label {
    position: relative;
    display: block;
    border-radius: 5px;
    border: 1px solid rgba($dark-gray, 0.3);
    cursor: pointer;
    width: $cell-size;
    height: $cell-size;
    @include hoverTransition();
    @include clickTransition();
    transition: background-color 0.2s, transform 0.4s, box-shadow 0.2s;
    &.running {
      transform: scale(1.2);
    }
  }
  & input:checked + label {
    background-color: $color;
    box-shadow: 0 0 8px rgba($color, 0.5);
    @include mobile {
      box-shadow: 0 0 4px rgba($color, 0.5);
    }
  }
  & input:focus + label {
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 0 4px rgba(black, 0.8);
  }
  & input:focus:not(:focus-visible) + label {
    transform: scale(1);
  }
  & input:focus:not(:focus-visible):hover + label {
    transform: scale(1.1);
  }
}
