@mixin panelBox($color: $cell-red) {
  & label {
    display: block;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba($dark-gray, 0.3);
    cursor: pointer;
    @include hoverTransition();
    @include clickTransition();
    transition: background-color 0.2s, transform 0.4s, box-shadow 0.2s;
  }
  & input:checked + label {
    background-color: $color;
    box-shadow: 0 0 15px rgba($color, 0.5);
  }
}
