.page-control {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: rem(24px);
  animation: fadeIn 1s 0.5s backwards;
  @include mobile {
    margin-bottom: rem(18px);
  }
  .total-page {
    margin-right: (8px);
    font-size: rem(16px);
    color: $dark-gray;
    @include mobile {
      font-size: rem(14px);
    }
  }
  .current-page {
    margin-left: rem(8px);
    font-size: rem(18px);
    @include mobile {
      font-size: rem(16px);
    }
  }
}

.page-down-btn,
.page-up-btn {
  @include circleButton(20px, 20px);
  @include mobile {
    @include circleButton(15px, 15px);
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 60px;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
  animation: appearUp 1s 0.5s backwards;
  @include mobile {
    margin-bottom: -70px;
    padding: 20px 20px;
    padding-bottom: 50px;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px;
    transition: margin 0.5s;
    &.active {
      margin-bottom: 0;
      & .menu-toggle-btn::after {
        transform: translate3d(0, -25%, 0) rotate(135deg);
      }
    }
  }
}

// buttons

.play-btn {
  @include circleButton(80px, 80px);
  @include mobile {
    @include circleButton(60px, 60px);
  }
  @include icon('/assets/img/play_icon.svg');
  &.playing {
    @include icon('/assets/img/stop_icon.svg');
  }
}

.control-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  @include mobile {
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 300px;
    height: 60px;
    // flex-wrap: wrap;
  }
}

.beat-control,
.bpm-control {
  display: flex;
  align-items: center;
  text-align: center;
  &:first-child {
    margin-right: rem(24px);
    @include mobile {
      margin-right: rem(12px);
    }
  }
  @include mobile {
    margin: 0;
  }
  label {
    display: block;
    font-size: rem(14px);
    font-weight: 700;
  }
  input {
    box-sizing: border-box;
    width: rem(72px);
    font-size: rem(36px);
    font-weight: 700;
    color: $dark-yellow;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
    @include mobile {
      font-size: rem(24px);
      width: rem(48px);
    }
    &:focus {
      outline: none;
    }
  }
}

.beat-down-btn,
.beat-up-btn,
.bpm-down-btn,
.bpm-up-btn {
  @include circleButton(30px, 30px);
  @include mobile {
    @include circleButton(20px, 20px);
  }
}

.plus-icon {
  @include icon('/assets/img/plus_icon.svg');
  order: 1;
}
.minus-icon {
  @include icon('/assets/img/minus_icon.svg');
}

.file-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: rem(42px);
  @include mobile {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: 20px;
  }
}

.file-load-btn,
.file-save-btn,
.file-clear-btn {
  @include circleButton(40px, 40px);
  @include mobile {
    @include circleButton(40px, 40px);
  }
  &:not(:last-child) {
    margin-right: rem(16px);
  }
}

.file-load-btn {
  @include icon('/assets/img/load_icon.svg');
  input {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
  }
}
.file-save-btn {
  @include icon('/assets/img/save_icon.svg');
}
.file-clear-btn {
  @include icon('/assets/img/clear_icon.svg');
  background-size: 40%;
}

.menu-toggle-btn {
  &::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 2px black;
    border-width: 2px 2px 0 0;
    transform: translate3d(0, 25%, 0) rotate(-45deg);

    vertical-align: middle;
  }
  @include circleButton(30px, 30px, transparent, false);
  text-align: center;
  display: none;
  margin-left: 10px;
  @include mobile {
    display: block;
  }
}

#player {
  width: 80vw;
  height: 60vh;
  background: black;
  margin: 20px auto 20px auto;
  display: block;
}
