@import 'header';
@import 'panel';
@import 'controller';

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  &.active {
    display: block;
  }
}

.color {
  @each $key, $value in $cell-colors {
    &-#{$key} {
      filter: colorToFilter($value);
    }
  }
}

.step-sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
