.main {
  margin: 0 auto;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  --cell-col: 8;

  animation: fadeIn 1s;
  @include desktop {
    --cell-size: 50px;
  }
  @include tablet {
    --cell-size: 40px;
  }
  @include mobile {
    --cell-size: 30px;
  }
}

.inst-list {
  display: flex;
  flex-direction: column;
  margin-right: -4px;
  padding: 15px 0;
  @include mobile {
    padding: 8px 0;
  }
}

.inst-item {
  position: relative;
  width: $cell-size;
  height: $cell-size;
  border: 1px solid transparent;
  margin-bottom: rem(8px);
  &:first-child {
    margin-top: 0;
  }

  .add-btn {
    @include circleButton($cell-size, $cell-size, transparent, false);
    @include icon('/assets/img/adjust_icon.svg');
    background-size: 60%;
    opacity: 0.5;
  }
}

.icon {
  &-drum {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/drum_icon.svg');
    background-size: 50%;
  }
  &-side-stick {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/sidestick_icon.svg');
    background-size: 50%;
  }
  &-cymbal {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/cymbal_icon.svg');
    background-size: 50%;
  }
  &-opened-hihat {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/opened_hihat_icon.svg');
    background-size: 50%;
  }
  &-clap {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/clap_icon.svg');
    background-size: 50%;
  }
  &-closed-hihat {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/closed_hihat_icon.svg');
    background-size: 50%;
  }
  &-ride {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/ride_icon.svg');
    background-size: 50%;
  }
  &-kick {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/kick_icon.svg');
    background-size: 50%;
  }
  &-high-tom {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/hightom_icon.svg');
    background-size: 50%;
  }
  &-low-tom {
    width: 100%;
    height: 100%;
    @include icon('/assets/img/lowtom_icon.svg');
    background-size: 50%;
  }
}
.music-mask {
  overflow-x: hidden;
  --cell-padding: 12px;
  max-width: 982px;
  @include tablet {
    max-width: 822px;
  }
  @include mobile {
    max-width: 322px;
    --cell-padding: 6px;
  }
  padding: var(--cell-padding);
}

.music {
  // box-sizing: border-box;
  --page-offset: 0;
  display: grid;
  grid-template: auto / repeat($cell-col, auto);
  gap: 8px;
  margin-bottom: 200px;
  transform: translate3d(
    calc(calc(var(--page-offset) * -100%) - calc(var(--page-offset) * 18px)),
    0,
    0
  );
  justify-content: start;
  align-content: center;
  transition: transform 0.5s;
}

@each $key, $value in $cell-colors {
  .panel {
    &--#{$key} {
      @include panelBox($value);
      &.beat-gap {
        margin-right: 10px;
      }
      input {
        position: absolute;
        opacity: 0;
        width: 1px;
        height: 1px;
      }
    }
  }
}

.add-inst-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  visibility: hidden;
  min-width: rem(300px);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  z-index: 5;
  &.active {
    visibility: visible;
  }
}

.add-inst-item {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  position: relative;
  // padding-left: 10px;
  // line-height: 30px;
  // height: 30px;
  &:hover {
    background-color: rgba($primary-yellow, 0.4);
    color: inherit;
  }
  & .add-inst-name {
    vertical-align: middle;
  }
  & .add-icon {
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    &:focus + label {
      background-color: rgba($primary-yellow, 0.4);
      color: inherit;
    }
    &:checked + label::before {
      content: '';
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: rotate(-45deg) translate3d(0, -100%, 0);
      width: 10px;
      height: 5px;
      border: 2px solid black;
      border-style: none none solid solid;
    }
  }
  label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    margin: 0;
    cursor: pointer;
  }
}

// .inst-icon {
//   &--drum {
//     display: inline-block;
//     width: 20px;
//     height: 20px;
//     @include icon('/assets/img/drum_icon.svg');
//     background-size: 80%;
//     vertical-align: top;
//   }
// }

.add-inst-name {
  vertical-align: bottom;
}
